.DS_Store
doc
doc/README_FOR_APP
log
log/**/*
tmp
tmp/**/*
*.swp
*.*~
*~
rerun.txt
coverage
webrat*.html
db/*.sqlite3
.rvmrc
.loadpath
.project
public/stylesheets/base.css
.buildpath
.settings
*.kpf
nbproject
